@font-face{font-family:'segoe_uiregular';src:url('5834388143-webfont.eot');src:url('5834388143-webfont.eot#iefix') format('embedded-opentype'),
url('5834388143-webfont.woff') format('woff'),
url('5834388143-webfont.ttf') format('truetype'),
url('5834388143-webfont.svg#segoe_uiregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'SegoeUI-Semibold';src:url('SegoeUI-Semibold_gdi.eot');src:url('SegoeUI-Semibold_gdi.eot#iefix') format('embedded-opentype'),
url('SegoeUI-Semibold_gdi.woff') format('woff'),
url('SegoeUI-Semibold_gdi.ttf') format('truetype'),
url('SegoeUI-Semibold_gdi.otf') format('opentype'),
url('SegoeUI-Semibold_gdi.svg#SegoeUI-Semibold') format('svg');font-weight:600;font-style:normal;font-stretch:normal;unicode-range:U+000D-2666;}
@font-face{font-family:'SegoeUI-Bold';src:url('SegoeUI-Bold_gdi.eot');src:url('SegoeUI-Bold_gdi.eot#iefix') format('embedded-opentype'),
url('SegoeUI-Bold_gdi.woff') format('woff'),
url('SegoeUI-Bold_gdi.ttf') format('truetype'),
url('SegoeUI-Bold_gdi.svg#SegoeUI-Bold') format('svg');font-weight:700;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA;}
@font-face{font-family:'SEGOEUIL';src:url('SEGOEUIL.eot');src:local('SEGOEUIL'), url('SEGOEUIL.woff') format('woff'), url('SEGOEUIL.ttf') format('truetype');}
@font-face{font-family:'SegoeUIBlack-Regular';src:url('SegoeUIBlack_gdi.eot');src:url('SegoeUIBlack_gdi.eot#iefix') format('embedded-opentype'),
url('SegoeUIBlack_gdi.woff') format('woff'),
url('SegoeUIBlack_gdi.ttf') format('truetype'),
url('SegoeUIBlack_gdi.otf') format('opentype'),
url('SegoeUIBlack_gdi.svg#SegoeUIBlack-Regular') format('svg');font-weight:900;font-style:normal;font-stretch:normal;unicode-range:U+000D-2666;}
@font-face{font-family:'Lato-Light';src:url('Lato-Light_gdi.eot');src:url('Lato-Light_gdi.eot#iefix') format('embedded-opentype'),
url('Lato-Light_gdi.woff') format('woff'),
url('Lato-Light_gdi.ttf') format('truetype'),
url('Lato-Light_gdi.svg#Lato-Light') format('svg');font-weight:300;font-style:normal;font-stretch:normal;unicode-range:U+0020-25CA;}
@font-face{font-family:'ralewayregular';src:url('raleway-regular-webfont.eot');src:url('raleway-regular-webfont.eot#iefix') format('embedded-opentype'),
url('raleway-regular-webfont.woff') format('woff'),
url('raleway-regular-webfont.ttf') format('truetype'),
url('raleway-regular-webfont.svg#ralewayregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'ralewaybold';src:url('raleway-bold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'latobold';src:url('lato-bold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'latoblack';src:url('lato-black-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'latohairline';src:url('lato-hairline-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'latoheavy';src:url('lato-heavy-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'latolight';src:url('lato-light-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'latomedium';src:url('lato-medium-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{src:url('lato-regular-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'latosemibold';src:url('lato-semibold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'open_sansbold';src:url('opensans-bold-webfont.eot');src:url('opensans-bold-webfont.eot#iefix') format('embedded-opentype'),
url('opensans-bold-webfont.woff') format('woff'),
url('opensans-bold-webfont.ttf') format('truetype'),
url('opensans-bold-webfont.svg#open_sansbold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'latothin';src:url('lato-thin-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'open_sansregular';src:url('opensans-regular-webfont.eot');src:url('opensans-regular-webfont.eot#iefix') format('embedded-opentype'),
url('opensans-regular-webfont.woff') format('woff'),
url('opensans-regular-webfont.ttf') format('truetype'),
url('opensans-regular-webfont.svg#open_sansregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Nirmala UI';src:url('NirmalaUI-Bold.eot');src:url('NirmalaUI-Bold.eot#iefix') format('embedded-opentype'),
url('NirmalaUI-Bold.woff') format('woff'),
url('NirmalaUI-Bold.ttf') format('truetype');font-weight:bold;font-style:normal;}
@font-face{font-family:'latoregular';src:url('lato-regular-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'oswaldbook';src:url('oswald-regular-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'oswaldbold';src:url('oswald-bold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'impactreg';src:url('impactreg.eot');src:local('impactreg'), url('impactreg.woff') format('woff'), url('impactreg.ttf') format('truetype');}
.fontsforweb_fontid_7349{font-family:'impactreg' !important;}